{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
</head>
<body>
<br>
<br>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2> Halo, apa kabar?</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p}}
              <input id = "tombol" type="submit" value="Submit">
            </form>
          </div>
          <div class="col-sm">
            {% for i in posts %}
              <p>{{ i.status }}</p>
              <p>Published on {{ i.date }}</p>
            {% endfor %}
          </div>
        </div>
      </div>

</body>
</html>